= form_for @person, html: { class: "form-horizontal", role: "form" } do |f|
  -if @person.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"

      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group.row
    = f.label :login
    = f.text_field :login, class: 'form-control'
  .form-group.row
    = f.label :email
    = f.text_field :email, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
