.page-header
  = link_to new_person_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New 
  %h1 Listing people

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th 
          Login
        %th
          Name
        %th
          Email
        %th{colspan: 4}
          Actions

    %tbody
      - @people.each do |person|
        %tr
          %td= person.login
          %td= person.name
          %td= person.email

          %td= link_to 'New friendship', new_person_friendship_path(person)
          %td= link_to 'Show', person
          %td= link_to 'Edit', edit_person_path(person)
          %td= link_to 'Destroy', person, data: { confirm: 'Are you sure?' }, method: :delete


%h1 Listing unconfirmed Friends

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th
          Person Name
        %th 
          Friend Login
        %th
          Friend Name
        %th
          Friend Email
        %th{colspan: 2}
          Actions

    %tbody
      - @user_people.each do |person|
        - person.unconfirmed_inv_friends.each do |friend|
          %tr{id: "Person_#{person.id}_#{friend.id}"}
            %td= person.name
            %td= friend.login
            %td= friend.name
            %td= friend.email
            %td= link_to 'Confirm', person_friendship_path(friend, person), method: :patch, remote: true

            %td= link_to 'Destroy', person_friendship_path(friend,person), data: { confirm: 'Are you sure?'}, method: :delete, remote: true