.page-header
  %h1 My Friends

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th 
          Login
        %th
          Name
        %th
          Email
        %th
          Actions

    %tbody
      - @friends.each do |friend|
        %tr
          %td= friend.login
          %td= friend.name
          %td= friend.email

          %td= link_to 'Show', friend

.page-header
  %h1 Friends of my friends

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th 
          Login
        %th
          Name
        %th
          Email
        %th
          Actions

    %tbody
      - @fof[:fof].each do |friend|
        %tr
          %td= friend.login
          %td= friend.name
          %td= friend.email

          %td= link_to 'Show', friend

.page-header
  %h1 Mutual Friends

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th 
          Login
        %th
          Name
        %th
          Email
        %th
          Actions

    %tbody
      - @fof[:mf].each do |friend|
        %tr
          %td= friend.login
          %td= friend.name
          %td= friend.email

          %td= link_to 'Show', friend