.page-header
  %h1 My Friends

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th 
          Login
        %th
          Name
        %th
          Email
        %th
          Confirmation
        %th
          Actions

    %tbody
      - @friends.each do |friend|
        -friendship = @person.friendships.where(friend: friend).first
        %tr{id: "Person_#{@person.id}_#{friend.id}"}
          %td= friend.login
          %td= friend.name
          %td= friend.email
          -unless friendship.nil?
            -if friendship.confirmed_at.nil?
              %td= link_to 'Confirm', person_friendship_path(@person,friend), method: :patch, remote: true
            - else
              %td
                = "Confirmated at: "
                = t friendship.confirmed_at

          %td= link_to 'Show', friend

.page-header
  %h1 Friends of my friends

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th 
          Login
        %th
          Name
        %th
          Email
        %th
          Actions

    %tbody
      - @rel.friends_of_friend.each do |friend|
        %tr
          %td= friend.login
          %td= friend.name
          %td= friend.email

          %td= link_to 'Show', friend

.page-header
  %h1 Mutual Friends

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th 
          Login
        %th
          Name
        %th
          Email
        %th
          Actions

    %tbody
      - @rel.mutual_friends.each do |friend|
        %tr
          %td= friend.login
          %td= friend.name
          %td= friend.email

          %td= link_to 'Show', friend
