/ Main Content

.page-header
  -if user_signed_in?
    = link_to new_post_path, class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      New Post
  %h1 Listing posts

.container
  .row
    .col-lg-6
      .input-group
        = form_for posts_path, method: :get do
          = text_field_tag :search, params[:search], placeholder: 'Search...', class: 'form-control'
          %span.input-group-btn
            = button_tag "Submit", type: :submit, class: 'btn btn-default'
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      - @posts.each do |post|
        %hr/
        .post-preview
          %a{:href => post_path(post)}
            %h2.post-title
              =post.title
            %h3.post-subtitle
              =post.content
          %p.post-meta
            Posted by
            = link_to post.user.email, post.user
            on
            = l post.created_at, format: :long
          %h4.post-subtitle
            Comments
            = countComLink post
      %hr/
      / Pager
      %ul.pager
        %li.next
          %a{:href => "#"} Older Posts →