.page-header
  = link_to new_comment_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Post
  %h1 Listing posts


.table-responsive
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th Title
        %th Content
        %th Published
        %th Comments
        
        %th{colspan: 3}
          .col-lg-2
            .input-group
              = form_for posts_path, method: :get do
                = text_field_tag :search, params[:search], class: 'form-control'
                %span.input-group-btn
                  = button_tag "Submit", type: :button, class: 'btn btn-default'

    %tbody
      - @posts.each do |post|
        %tr
          %td= post.title
          %td= post.content
          %td= post.published
          %td
            = link_to "#{post.comments.size}",  post_comments_path(post) 

            - post.comments.each do |comment|
              .toggle
                = comment.desc.truncate_words(3)

          %td
            = link_to 'Show', post
          %td
            = link_to 'Edit', edit_post_path(post)
          %td
            = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
 

  %br

  = link_to 'New Post', new_post_path
