/ Main Content

.page-header
  -if user_signed_in?
    = link_to new_post_path, class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      New Post
  %h1 Listing posts


.row
  .input-group
    = form_for posts_path, method: :get do
      = text_field_tag :search, params[:search], placeholder: 'Search...', class: 'form-control'
      %span.input-group-btn
        = button_tag "Submit", type: :submit, class: 'btn btn-default'
.row
  = render partial: 'row', collection: @posts
  %hr/
  / Pager
  %ul.pager
    %li.next
      = paginate @posts
