!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title BLog

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    / Navigation
    %nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            Menu
            %i.fa.fa-bars
          = link_to "Blog", root_path, class: "navbar-brand"
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            -if user_signed_in?
              %li{class: active_controller('posts')}
                = link_to "Posts", posts_path
              %li{class: active_controller('comments')}
                = link_to "Comments", comments_path
              %li{class: active_controller('peoples')}
                = link_to "People", people_path
              %li{class: active_controller('profiles')}
                = link_to "Profile", profile_path(current_user)
              %li
                = link_to "Logout", destroy_user_session_path
    
            -else 
              %li
                = link_to "Login", new_user_session_path

    %header.intro-header{:style => "background-image: url('#{asset_path 'home-bg.jpg'}')"}
      .container-fluid
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            .site-heading
              %h1 BLstream BLOG
              %hr.small/
              %span.subheading A Clean Blog Theme by Start Bootstrap

    .container-fluid
      .col-lg-2
      .col-lg-7
        - flash.each do |name, msg|
          = content_tag :div, class: "alert alert-#{name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do
            %button.close{type: "button", data: {dismiss: "alert"} }
              %span{aria: {hidden: "true"} } &times;
              %span.sr-only Close
            = msg
        = yield
    %hr/
    / Footer
    %footer
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            %ul.list-inline.text-center
              %li
                %a{:href => "#"}
                  %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x
                    %i.fa.fa-twitter.fa-stack-1x.fa-inverse
              %li
                %a{:href => "#"}
                  %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x
                    %i.fa.fa-facebook.fa-stack-1x.fa-inverse
              %li
                %a{:href => "#"}
                  %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x
                    %i.fa.fa-github.fa-stack-1x.fa-inverse
            %p.copyright.text-muted Copyright © BLog 2016